{% extends "base.html" %}

{% block body %}
    {% load static %}

    <div class="wrapper">
        <form method="POST" action="{% url 'profiles:escort_register2' %}" enctype="multipart/form-data" class="form-container">
            {% csrf_token %}

            <h1 class="form-title">Escort Registration - Step 2</h1>

            <!-- Bust Size Field -->
            <div class="input-box">
                {{ form.bust_size.label_tag }} <span style="color: red; font-weight: bold;">*</span>
                {{ form.bust_size }}
                {% for error in form.bust_size.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>

            <!-- Height Field -->
            <div class="input-box">
                {{ form.height.label_tag }} <span style="color: red; font-weight: bold;">*</span>
                {{ form.height }}
                {% for error in form.height.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>

            <!-- Looks Field -->
            <div class="input-box">
                {{ form.looks.label_tag }} <span style="color: red; font-weight: bold;">*</span>
                {{ form.looks }}
                {% for error in form.looks.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>

            <!-- Smoker Field -->
            <div class="input-box">
                {{ form.smoker.label_tag }} <span style="color: red; font-weight: bold;">*</span>
                {{ form.smoker }}
                {% for error in form.smoker.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>

            <!-- Sexual Orientation Field -->
            <div class="input-box">
                {{ form.sexual_orientation.label_tag }} <span style="color: red; font-weight: bold;">*</span>
                {{ form.sexual_orientation }}
                {% for error in form.sexual_orientation.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>

            <!-- Services Field -->
            <div class="input-box">
                {{ form.services.label_tag }} <span style="color: red; font-weight: bold;">*</span>
                {{ form.services }}
                {% for error in form.services.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>

            <!-- Submit Button -->
        <button class="submit-btn" type="submit">Next (Step 2/3)</button>
        <p class="login-link">Already have an account? <a href="{% url 'profiles:login' %}">Login</a></p>
        </form>
    </div>

{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'escort_register2.css' %}">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock %}
