{% extends "base.html" %}

{% block body %}
    {% load static %}

        <h3 class="header">CREATE AN ACCOUNT</h3>
    <div class="container">
        <!-- Card 1: Independent Escort -->
        <div class="card">
            <div class="card-title escort-title">Register as Independent Escort</div>
            <ul class="card-features">
                <li>Add a single profile</li>
                <li>Add profile pictures</li>
                <li>Add contact information</li>
                <li>Upgrade to premium</li>
                <li>Featured position</li>
                <li>Many more</li>
            </ul>
            <p class="price">Free</p>
            <a href="{% url 'profiles:escort_register1' %}" class="btn">Create an Account</a>
        </div>
        
        <!-- Card 2: Guest/Client -->
        <div class="card">
            <div class="card-title client-title">Register as a Guest/Client</div>
            <ul class="card-features">
                <li>See profile photos</li>
                <li>Contact escorts</li>
            </ul>
            <p class="price">For Client Only (Not for Escorts!)</p>
            <a href="{% url 'profiles:client_register' %}" class="btn">Register as a Guest/Client</a>
        </div>
    </div>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'signup.css' %}">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock %}